apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html
  namespace: {{ .Release.Namespace }}
data:
  index.html: |
    <html>
      <head><title>Welcome to Nginx</title></head>
      <body><h1>{{ .Values.htmlContent }}</h1></body>
    </html>
